// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	width: 10em;
	padding: 5px;	
}

input, textarea {
	margin-bottom: 1em;
}



